.animation-canvas {
  display: block;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.diplay-block {
  display: block;
}
.display-none {
  display: none;
}
.portalGunAnimation,.meeseeksAnimation , .partyAnimation{
  position: absolute;
  min-height: 150vh;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 1;
  overflow: hidden;
  animation: startAnimation 0.3s linear;
}
/* PORTAL GUN ANIMATION */
#portalGunCanvas{
  z-index: 1;
  background-color: black;
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  height: 100%;
  width: 100%;
  filter: blur(20px) contrast(40);
}

.portal {
  z-index: 4;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(0) scale(1);
  width: 40rem;
  height: 40rem;
  animation: portalMovement 6s linear infinite;
}

/* MEESEEKS ANIMATION*/
#meeseeksCanvas{
  display: block;
  position: absolute;
  z-index: 5;
  background-color: transparent;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%) scale(1);
}

.meeseeks {
  z-index: 4;
  position: absolute;
  opacity: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  animation: meeseeksMovement 2s linear infinite, scaleAnimation .6s linear;
}
#meeseeksSprite{
  display: none;
}

/* PARTY ANIMATION */
#rick{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-55% , -50%);
  z-index: 4;
  animation: rickMovement 2s linear infinite;
}
.partyAnimation{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.lights-container{
  min-height: 100vh;
  width: 25%;
  background-color: black;
  filter: blur(60px);
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 1;
}
.circle{
  border-radius: 30rem;
  max-width: 20rem;
  height: 20rem;
  opacity: .5;
}
.lightOne{
  animation: lightOnOff 5s ease-in-out infinite;
}
.lightTwo{
  animation: lightOnOff 4s 2s ease-in-out infinite;
}
.lightThree{
  animation: lightOnOff 6s 3s ease-in-out infinite;
}
.lightFour{
  animation: lightOnOff 2s 4s ease-in-out infinite;
}
.red{
  background-color: red;
}
.green{
  background-color:#00ff97;
}
.blue{
  background-color:#00fcff;
}

/* PICKLE RICK ANIMATION */
.pickleImg{
  display: none;
}
.pickleAnimation{
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  height: 300vh;
  width: 100%;
}
#pickleCanvas{
  background-color: black;
  min-height: 150vh;
  display: block;
  position: absolute;
  z-index: 3;
}


/* CSS ANIMATIONS */
@keyframes meeseeksMovement {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  25% {
    transform: translate(-50%, -50%) rotate(-5deg);
  }
  50% {
    opacity: 1;
    transform: translate(-50%, -50%) rotate(0deg);
  }
  75% {
    opacity: 1;

    transform: translate(-50%, -50%) rotate(5deg);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%) rotate(0deg);
  }
}


@keyframes portalMovement {
  0% {
    transform: translate(-50%, -50%) rotate(0) scale(1);
  }
  25% {
    transform: translate(-50%, -50%) rotate(90deg) scale(1.1);
  }
  50% {
    transform: translate(-50%, -50%) rotate(180deg) scale(1);
  }
  75% {
    transform: translate(-50%, -50%) rotate(270deg) scale(1.1);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg) scale(1);
  }
}

@keyframes scaleAnimation {
  0% {
    transform: translate(-50%, -50%) rotate(0) scale(0)
  }
  100% {
    transform: translate(-50%, -50%) rotate(0) scale(1);
  }
}

@keyframes startAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes lightOnOff {
  0%{
      opacity: .5;
  }
  20%{
      opacity: .8;
  }
  40%{
      opacity: .4;
  }
  60%{
      opacity: 1;
  }
  80%{
      opacity: .7;
  }
}
@keyframes rickMovement{
  0%{
      transform: translate(-55%,-50%) rotate(0deg);
  }
  25%{
      transform: translate(-55%,-50%) rotate(-5deg);
  }
  50%{
      opacity: 1;
      transform: translate(-55%,-50%) rotate(0deg);
  }
  75%{
      transform: translate(-55%,-50%) rotate(5deg);
  }
  100%{
      transform: translate(-55%,-50%) rotate(0deg);
  }
}